
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h2><i class="fas fa-chalkboard-teacher"></i> Instructors</h2>
    </div>
</div>


<div class="row">
    <div class="col-xs-4">
        <label id="genderLabel" for="genderSelect">Gender</label>
        <select id="genderSelect" class="form-control" aria-describedby="genderLabel"></select>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table id="instructorsTable" class="table table-striped"></table>
    </div>
</div>

<script src="~/Scripts/School/Instructors/Instructors.js"></script>